$navLinkColor: white;

.landingPageBase {
  background-color: black;
  color: white;
}

.fullWidth {
  width: 100%;
}

nav a {
  color: $navLinkColor;
}

.navbar-nav .nav-item a {
  color: $navLinkColor;
  border-bottom: 1px solid white;
}

.navbar-nav .nav-item a:hover {
  background-color: #222222;
}
