<body>
<nav class="navbar navbar-expand-lg" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="/index.html">Elijah Blake</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav fullWidth d-flex flex-row justify-content-evenly">
        <li class="nav-item p-2">
          <a class="nav-link active" aria-current="page" href="/src/pages/aboutMe.html">About Me</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" href="#">Accomplishments</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" href="#">My Goals</a>
        </li>
        <li class="nav-item dropdown p-2">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Software Projects
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Computer Vision & AI</a></li>
            <li><a class="dropdown-item" href="#">Mobile Dev</a></li>
            <li><a class="dropdown-item" href="#">Web Dev</a></li>
            <li><a class="dropdown-item" href="#">Other</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>